.DS_Store
build/
*.pbxuser
*.mode1v3
Jukebox/Jukebox.xcodeproj/project.xcworkspace/xcuserdata/NorThanapon.xcuserdatad/UserInterfaceState.xcuserstate

Jukebox/Jukebox.xcodeproj/project.xcworkspace/xcuserdata/NorThanapon.xcuserdatad/UserInterfaceState.xcuserstate

Jukebox/Jukebox.xcodeproj/project.xcworkspace/xcuserdata/NorThanapon.xcuserdatad/UserInterfaceState.xcuserstate

Jukebox/Jukebox.xcodeproj/project.xcworkspace/xcuserdata/NorThanapon.xcuserdatad/UserInterfaceState.xcuserstate
